ion-content {
  --background: #422749 url("../../../../assets/backgrounds/bgroxonot.png") no-repeat
    center center / cover !important;
  --overflow: show;
}

  ion-toolbar {
    --opacity: 0.0;
    position: absolute;
  }

.content-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  .circulo {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 100px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: solid 15px #35183b;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .circulo2 {
    width: 300px;
    height: 330px;
    background-image: url('../../../../assets/backgrounds/bgroxonot.png');
    position: absolute;
    border-radius: 100px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: solid 15px #35183b;
    box-shadow: rgba(115, 61, 241, 0.295) 0px 30px 60px -12px inset, rgba(128, 15, 15, 0.3) 0px 18px 36px -18px inset;
  }

  p {
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    position: absolute;
    align-self: center;
    padding-top: 200px;
    
  }

  img {
    align-self: center;
    position: absolute;
    padding-top: 100px;
  }
}

.content-noticias {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  p {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
  }
}

