<ion-content fullscreen>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>




  <div class="content-header">
    <div class="circulo"></div>
    <div class="circulo2"></div>
    <img src="../../../../assets/icon/perfil.png" alt="foto-perfil" id="foto-perfil" width="120">
    <p>Bem vindo de volta!</p>
  </div>
  
  <div class="content-noticias">

    <p>Últimas notícias!</p>

    <ion-card button=true color=none class="cards">
      <ion-card-header >
        <img alt="logo" height="180"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTfcWq3SHESnhGFTElpmbVOWeN_5acpVmUwg&usqp=CAU" >
        <ion-card-title>Cursos Gratuitos!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Secretaria Municipal de Ciência e Tecnologia e Cisco abrem inscrições para cursos de IoT e Cibersegurança.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
