ion-content {
    --background: #422749 url("../../../../assets/backgrounds/bgroxonot.png") no-repeat
      center center / cover !important;
      --overflow: show;
  }

  ion-toolbar {
    --opacity: 0.0;
    position: absolute;
  }

.content-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    padding-top: 95px;

    img {
        align-self: center;
    }

    
}

ion-item {
  margin-top: 5px;
  margin-bottom: 0px;
  --background: none;
  opacity: 1;
  color: white;
}

ion-button {
  margin: 15px;
}

ion-list {
  font-size: 20px;
  ion-item {
    font-size: 18px;
  }
}