<ion-content>
  <div id="container">

    <!--Header-->
    <img alt="logo" height="140" src="../../../../assets/icon/logoroxa.png" >
    <strong><p>Bem-vindo(a) ao <span style="color:#D183C9;">CODER!</span></p></strong>

    <!--Área inputs-->
    <div class="input-area" *ngFor="let t of inputNames; let i = index">
      <ion-item>
        <ion-label position="floating">{{t.title}}</ion-label>
        <ion-input type={{t.type}}></ion-input>
      </ion-item>
    </div>

    <!--Área botões-->
    <div class="button-area">
      <ion-button shape="round" routerLink="/folder/Home">Entrar</ion-button><br>
      <ion-button shape="round" routerLink="/entrada/registro">Cadastre-se</ion-button>
    </div>

  </div>
</ion-content>