<ion-content fullscreen>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-sobre">
    <img src="../../../../assets/icon/logoroxa.png" width="90" alt="logo coder">
    <img src="../../../../assets/icon/logounifil.png" width="100" alt="logo unifil">
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur repellendus mollitia dolores earum dolorem sit eveniet quia animi, veniam id consequatur rerum tempora doloremque! Numquam sit tempore vitae aspernatur recusandae.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos laborum quos ratione harum itaque eveniet modi libero reiciendis doloremque atque excepturi tempore sequi nemo minus nesciunt culpa architecto quod voluptatem, voluptate numquam ut aliquid recusandae fuga? Dicta tenetur dolor modi doloribus repudiandae itaque iusto voluptate.</p>

</ion-content>